@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "saansTrial";
  font-weight: 400;
  src: url("../public/fonts/SaansTRIAL-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "saansTrial";
  font-weight: 500;
  src: url("../public/fonts/SaansTRIAL-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "saansTrial";
  font-weight: 700;
  src: url("../public/fonts/SaansTRIAL-Bold.woff2") format("woff2");
}
